/* UNIVERSAL */

body {
    background-color: #FEFAF1;
    color: #211A1D;
    font-family: 'Rubik', sans-serif;
    height: auto;
    padding: 0 2.5rem;
}

/* HEADER */

header {
    width: 100%;
}

#header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}

header h1 {
    letter-spacing: 0.1rem;
    font-weight: 600;
}

header li {
    display: inline-block;
    margin-left: 1.5rem;
    font-weight: 200;
}

header hr {
    opacity: 0.4;
}