/* UNIVERSAL */

body {
    background-color: #FEFAF1;
    color: #211A1D;
    font-family: 'Rubik', sans-serif;
    height: auto;
    padding: 0 2.5rem;
}

a {
    cursor: pointer;
    color: #211A1D;
    text-decoration: none;
}

/* HEADER */

header {
    width: 100%;
}

#header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}

header h1 {
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

header li {
    display: inline-block;
    margin-left: 1.5rem;
    font-weight: 200;
}

header hr {
    opacity: 0.4;
}

/* ABOUT ME */

#me {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#me img {
    width: 25%;
    height: auto;
    position: relative;
    right: 3rem;
}

#me-text {
    position: relative;
    bottom: 2rem;
    text-align: left;
}

#me-text h2 {
    font-size: 2rem;
}

#me-text p {
    font-size: 1.3rem;
    line-height: 2rem;
}

/* PROJECTS */

#projects {
    margin: 4.7rem auto;
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.box {
    width: 13rem;
    height: 13rem;
    background-color: #6096BA;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.7;
}